.adv-roller {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  margin: 30px;
  flex-direction: column;
  text-align: center;
}

.adv-roller form {
  margin-bottom: 10px;
}

.adv-roller--notation {
  padding: 10px;
  margin-right: 5px;
  text-align: center;
  border: 2px solid;
  border-radius: 5px;
}
.adv-roller--clear {
  padding: 10px;
}

.adv-roller .footnote,
.adv-roller .footnote a
{
  color: #fff;
}

